main {
  padding: 0 15%;
  margin-top: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.heroTextSection {
  display: flex;
  flex-direction: column;
}

.heroText {
  font-size: 80px;
  font-weight: 600;
}

.heroImg {
  width: 320px;
}

.heroTextSection > p {
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  line-height: 1.25em;
}

.heroButtonSection {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 30px;
}

.heroButtonSection > button {
  background-color: var(--button);
  color: var(--bg-light);
  outline: none;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
  transition: all 200ms ease;
}

.heroButtonSection > button:hover {
  background-color: black;
}

.heroButtonSection > span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
